.floor-map .table .label {
    top: 10px;
}

.floor-map .table .active_print {
    position: absolute;
    top: 0;
    left: 10%;
    background: red;
    width: 20px;
    margin-left: -10px;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    font-size: 16px;
    z-index: 10;
}

.floor-map .table .unactive_print {
    position: absolute;
    top: 0;
    left: 30%;
    background: black;
    width: 20px;
    margin-left: -10px;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    font-size: 16px;
    z-index: 10;
}

.floor-map .table .waiting-delivery {
    position: absolute;
    top: 0;
    right: 35px;
    background: blue;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 16px;
    z-index: 10;
}
.floor-map .table .waiting-delivery .blink{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.floor-map .table .waiting-error {
    position: absolute;
    top: 75%;
    right: 0px;
    background: violet;
    width: 20px;
    margin-top: 0px;
    margin-left: 0px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 16px;
    z-index: 10;
}
.floor-map .table .waiting-error .blink{
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.pos .control-button .control-button-number {
    color: rgb(226, 226, 226);
    background: rgb(85, 85, 85);
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    font-weight: bold;
    line-height: 28px;
    width: 28px;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
    margin-right: 4px;
}
/* PAY LATER SCREEN */
.order-later {
	display: inline-block;
	width:123px;
	height:44px;
	position: relative;
	background-color: #EEEEEE;
    border-radius: 5px 5px 0 0px;
    border-bottom: 1px solid #CCC;
}

.order-later span {
	display: inline-block;
    position: absolute;
    top: 33%;
    left: 8%;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #444;
}

.pos .paylaterlist-screen .back_product{

    top: 63px;
    width: 300px;
    height: 300px;
    font-size: 18px;
    border-radius: 5px;
    background: rgb(110,200,155);
    color: ghostwhite;
}

.pos .paylaterlist-screen .paylater-list {
	font-size: 20px;
    width: 100%;
    line-height: 40px;
}

.paylater-list thead{
    width: 100%;
	font-size: 18px;
    line-height: 40px;
    padding: 0px 8px;
}

.paylater-list thead th {
	padding: 0px 8px;
}

 .pos .paylaterlist-screen .paylater-list td{
	padding: 0px 8px;
    font-size: 20px;
}

.pos .paylaterlist-screen .paylater-list tr:hover {
    color: white;
    background-color: gray;
}

.highlight{
    background-color: green;
    color: white;
}

.refund_order_details {
    background: rgb(110,200,155);
    color: white;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    padding: 0px 20px 40px 80px;
    background: #6EC89B;
}
.pos .warning {
    color: white;

}

.pos .made_refund_order {
    color: #6EC89B;
}
.pos .made_refund_order:hover {
    color: green;
}

.pos .cooking-status-waiting {
    color: blue;
}
.pos .cooking-status-waiting-delivery {
    color: blueviolet;
}
.pos .cooking-status-default {
    color: black;
}
.pos .cooking-status-warning {
    color: orangered;
}
.pos .table-line-note {
    color: orangered;
    animation: blink-animation 1s steps(5, start) infinite;
   -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
.pos .kitchen_screen {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    background: white;
    margin-top: 10px;
    text-align: center;
    border-color: blue;
    background-color: white;
}
.pos .kitchen_header {
    text-align: center;
    color: blueviolet;
}

.pos .kitchen-button {
    font-size: 12px;
}
.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.pos .Cancel {
    color: lightslategray;
    font-size: 16px;
}
.pos .Done {
    color: #0a0a0a;
    font-size: 16px;
}
.pos .Error {
    color: #00a1b5;
    font-size: 16px;
}
.pos .High-Priority {
    color:red;
    font-size: 16px;
}
.pos .Confirmed {
    color: darkblue;
    font-size: 16px;
}
.pos .Waiting-delivery {
    color: blueviolet;
    animation: blink-animation 1s steps(5, start) infinite;
   -webkit-animation: blink-animation 1s steps(5, start) infinite;
    font-size: 16px;
}
.pos .Need-to-confirm {
    color: red;
    animation: blink-animation 1s steps(5, start) infinite;
   -webkit-animation: blink-animation 1s steps(5, start) infinite;
    font-size: 16px;
}
.pos .Not-enough-material {
    color: red;
    animation: blink-animation 1s steps(5, start) infinite;
   -webkit-animation: blink-animation 1s steps(5, start) infinite;
    font-size: 16px;
}
.pos .clientlist-screen {
    background: white;
    color: black;
}
.pos .table .table-name {
    position: absolute;
    top: 0;
    right: 10px;
    background: inherit;
    width: 20px;
    margin-left: -10px;
    height: 20px;
    line-height: 20px;
    border-radius: 1px;
    font-size: 16px;
    z-index: 10;
}